:root {
  --font-family: "Roboto", sans-serif;
  --color-black: #191919;
  --color-first: #FBEDE0;
  --color-second: #FBEBEB;
  --color-third: #F8F3EF;
  --color-fourth: #FBEDE0;
  --main-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.title--line {
  position: relative;
  margin: 0 0 30px 0;
  font-size: 34px;
  font-weight: 600;
  line-height: 120%;
  padding-bottom: 30px;
}

.title--line:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 3px;
  background: var(--color-black);
}

.type {
  margin: 0 0 20px 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 130%;
}

.description__text {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
}

.description__text._mark {
  font-weight: 300;
  margin-bottom: 5px;
}

.description__text:not(:last-child) {
  margin-bottom: 10px;
}

.description__text span {
  font-weight: 600;
}

._block {
  border-bottom-right-radius: 40px;
  border-top-left-radius: 40px;
  padding: 40px 60px;
}
._block:not(:last-child){
  margin-bottom: 40px;
}
.date{
  margin: 0 0 10px 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 130%;
}