@media screen and (max-width: 1280px) {
  .page-container {
    padding: 55px 40px;
  }

  .header__content {
    margin-left: 30px;
  }

  .header__name {
    font-size: 55px;
  }

  .header__subtitle {
    font-size: 35px;
  }

  .header__about p {
    font-size: 18px;
  }

  .title--line {
    font-size: 30px;
  }
}

@media screen and (max-width: 990px) {
  .header__image {
    display: none;
  }

  .header__top {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
  }

  .header__top-image {
    display: block;
    max-width: 150px;
    min-width: 150px;
    max-height: 150px;
    min-height: 150px;
    border-radius: 50%;
    margin-right: 30px;
  }

  .header__content {
    margin-left: 0;
  }

  .header__subtitle {
    margin: 0;
  }

  .main {
    margin-top: 40px;
    flex-direction: column-reverse;
  }

  .main__left {
    max-width: 100%;
    min-width: 100%;
  }

  .main__right {
    margin-left: 0;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 768px) {
  .page-container {
    padding: 30px 20px;
    margin: 20px 0;
  }

  .header__top-image {
    max-width: 100px;
    min-width: 100px;
    max-height: 100px;
    min-height: 100px;
    margin-right: 20px;
  }

  .header__content {
    padding: 0;
  }

  .header__top {
    margin-bottom: 30px;
  }

  .header__name {
    font-size: 34px;
  }

  .header__subtitle {
    font-size: 20px;
  }

  .header__about p {
    font-size: 16px;
  }

  .title--line {
    padding-bottom: 20px;
  }

  .title--line:after {
    width: 75px;
    height: 2px;
  }

  .main__right {
    margin-bottom: 20px;
  }

  ._block:not(:last-child) {
    margin-bottom: 20px;
  }

  ._block {
    padding: 30px 40px;
  }
}
@media screen and (max-width: 455px){
  .header__top-image {
    max-width: 80px;
    min-width: 80px;
    max-height: 80px;
    min-height: 80px;
    margin-right: 15px;
  }
  .header__name {
    font-size: 28px;
  }
  .header__subtitle {
    font-size: 16px;
  }
  .title--line {
    font-size: 24px;
  }
}
@media screen and (max-width: 381px){
  .header__top-image {
    max-width: 50px;
    min-width: 50px;
    max-height: 50px;
    min-height: 50px;
    margin-right: 15px;
  }
  .header__name {
    font-size: 24px;
  }
  .header__subtitle {
    font-size: 14px;
  }
  .title--line {
    font-size: 20px;
    padding-bottom: 10px;
    margin: 0 0 20px 0;
  }
  .title--line:after {
    width: 50px;
    height: 1px;
  }
  .header__about p {
    font-size: 14px;
    line-height: 120%;
  }
  .header__about{
    margin-bottom: 0;
  }
  ._block {
    padding: 20px 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
  }
  .type {
    font-size: 16px;
    line-height: 120%;
  }
  .skills__item{
    font-size: 14px;
  }
}